// Find Out Link
.find-out-link {
  line-height: em(24px, 20px);
  display: inline-block;
  position: relative;
  color: #fff;
  font-weight: 700;
  font-size: em(20px, $basepx);
  background: none;
  border: 0;
  text-decoration: none;
  vertical-align: top;
  outline: none;

  span {
    vertical-align: top;
    overflow: hidden;
    display: block;
    position: relative;

    &::before,
    &::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      height: 1px;
      width: 100%;
      background: #fff;
      transition: 1s;
    }

    &::before {
      transition: 1s 0.1s;
    }

    &::after {
      transform: translateX(-120%);
      transition: 1s 0s;
    }
  }

  &::after {
    content: '';
    position: absolute;
    left: 100%;
    top: 50%;
    margin-top: em(-11px, 20px);
    width: em(22px, 20px);
    height: em(22px, 20px);
    transform: translateX(#{em(7px, 20px)});
    background: url('#{$images-path}link-arrow.svg');
    transition: 0.3s;
  }

  &:hover {
    &::after {
      transform: translateX(#{em(12px, 20px)});
    }

    span::before {
      transform: translateX(120%);
      transition: 1s 0s;
    }

    span::after {
      transform: translateX(0);
      transition: 1s 0.1s;
    }
  }
}
