footer {
  position: relative;
  z-index: 2;
  transform: none;
  opacity: 1;
  background: #000;

  p {
    margin: 0;
    font-size: em(14px, $basepx);
    line-height: em(18px, 14px);
    color: #fff;
    font-weight: 300;
    right: em(80px, $basepx);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: right;

    a {
      color: inherit;
      text-decoration: none;
    }
  }

  &.dark {
    background: #fff;

    p {
      color: #000;
    }
  }
}
